lazy-lock.json
*.pyc
__pycache__/
__init__.py
state.yml
*.log

tmux/.config/tmux/plugins
.DS_Store
yazi/.config/yazi/flavors
yazi/.config/yazi/plugins/full-border.yazi
yazi/.config/yazi/package.toml
ghostty/.config/ghostty/ghostty-shaders
